/** Album CPT pages */
.main {
    /** Music page */
    &#music {
        #content {
            #music-header {
                background-color: $black;
                padding-top: 3%;
                position: relative;
                z-index: 2;

                .album-types {
                    display: flex;
                    margin-bottom: 3rem;

                    .album-type {
                        margin: 0 0.5rem;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        .type-link {
                            background: none;
                            border: none;
                            padding: 0;
                            color: $white;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            
            #music-container {
                #main-content {
                    margin-top: 0;

                    #album-types-container {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    /** Album page */
    &#album {
        #content {
            #album-container {
                #main-content {
                    padding-bottom: 1rem;

                    .album {
                        font-family: $sf_pro_text;

                        .album-nav {
                            margin-bottom: 3rem;

                            a {
                                font-size: 1.5rem;
                                text-transform: uppercase;
                                color: $white;
                            }
                        }

                        .e-content {
                            #title {
                                margin-bottom: 3rem;

                                .p-name {
                                    display: none;
                                    margin-bottom: 0;
                                }

                                .description {
                                    display: none;
                                }
                            }

                            #tracklist-container {
                                #tracklist {
                                    margin-bottom: 2rem;
                                    
                                    .track {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 0.5rem;
                                        font-size: 1.5rem;
                                        text-transform: uppercase;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        .track-no {
                                            width: 7.5%;
                                        }

                                        .track-name {
                                            width: 75%;
                                        }

                                        .track-length {
                                            width: 12.5%;
                                            text-align: right;
                                        }

                                        .track-play-pause {
                                            width: 5%;

                                            svg {
                                                height: 24px;
                                                margin-bottom: 4px;
                                                float: right;
                                            }
                                        }
                                    }
                                }

                                #link-list {
                                    margin-bottom: 0;
                                    
                                    .link-item {
                                        margin-bottom: calc(var(--bs-gutter-x) * 1);

                                        a {
                                            display: flex;
                                            align-items: center;
                                            background-color: $white;
                                            padding: 1rem;
                                            color: $black;
                                            min-height: 100%;
                                            border-radius: 0.75rem;

                                            .icon {
                                                svg {
                                                    height: 24px;
                                                    float: left;
                                                }
                                            }

                                            .text {
                                                font-size: 0.75rem;
                                                text-transform: uppercase;
                                                padding-left: 1rem;
                                            }

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }

                                        &:hover {
                                            &#download {
                                                a {
                                                    color: $red;
                                                }
                                            }

                                            &#alternate {
                                                a {
                                                    color: $red;
                                                }
                                            }

                                            &#itunes {
                                                a {
                                                    color: $itunes;
                                                }
                                            }

                                            &#apple {
                                                a {
                                                    color: $apple;
                                                }
                                            }

                                            &#spotify {
                                                a {
                                                    color: $spotify;
                                                }
                                            }

                                            &#google {
                                                a {
                                                    color: $google;
                                                }
                                            }

                                            &#pandora {
                                                a {
                                                    color: $last_fm;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
