/** Videos page */
.main {
    &#videos {
        #content {
            #videos-container {
                #main-content {
                    margin-top: 10%;
                    padding-bottom: 1rem;

                    #video-gallery-container {
                        .youtube-item {
                            margin-bottom: 3rem;

                            .thumbnail {
                                img {
                                    min-width: 100%;
                                }
                            }

                            .title {
                                font-family: $sf_pro_text;
                                font-size: 2.5rem;
                                font-weight: 700;
                                color: $red;
                                text-transform: uppercase;
                                margin-top: 1rem;
                            }

                            .year {
                                font-family: $sf_pro_text;
                                font-size: 2.5rem;
                                font-weight: 400;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/** Fancybox styling */
#fancybox-videos {
    .fancybox__backdrop {
        background: $black;
    }

    .f-thumbs {
        .f-thumbs__slide {
            min-width: 10vw;
            min-height: 10vh;

            .f-thumbs__slide__button {
                border-radius: 0;

                &::after {
                    border-radius: 0;
                    border: none;
                }
            }
        }
    }
}
