/** Photos CPT pages */
.main {
    /** Photos page */
    &#photos {
        #content {
            #photos-container {
                #main-content {
                    margin-top: 10%;
                    padding-bottom: 15%;

                    #galleries-container {
                        #gallery-list {
                            .gallery {
                                margin-bottom: 4rem;
                                font-family: $sf_pro_text;
                                text-transform: uppercase;
                                font-weight: 700;

                                .gallery-thumbnail {
                                    margin-bottom: 1rem;
                                    overflow: hidden;
                                    height: 0;
                                    padding-top: 62.5%;
                                    position: relative;

                                    a {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        transform: translate(0, -5%);

                                        img {
                                            min-height: 100%;
                                        }
                                    }
                                }

                                .gallery-info {
                                    text-align: center;
                                    line-height: normal;

                                    .date {
                                        font-weight: 400;
                                    }

                                    .title {
                                        font-family: $sf_pro_text;
                                        font-size: 2rem;
                                        font-weight: 700;
                                        color: $red;
                                        margin-bottom: 0;
                                    }

                                    .location {
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /** Gallery page */
    &#gallery {
        #content {
            #gallery-container {
                #main-content {
                    padding-bottom: 15%;

                    .gallery {
                        font-family: $sf_pro_text;

                        .e-content {
                            .gallery-container {
                                .photo {
                                    margin-bottom: 2rem;
                                    
                                    .photo-container {
                                        overflow: hidden;
                                        height: 0;
                                        padding-top: 62.5%;
                                        position: relative;

                                        a {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            transform: translate(0, -5%);

                                            img {
                                                min-height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/** Fancybox styling */
#fancybox-photos {
    .fancybox__backdrop {
        background: $black;
    }
    
    .f-carousel__dots {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            button {
                width: 1rem;
                height: 1rem;
                background: 0 0;
                margin: 0;
                border: none;

                .f-carousel__dot {
                    display: block;
                    width: 0.375rem;
                    height: 0.375rem;
                    background: $white;
                    border-radius: 50%;
                }
            }

            &.is-current {
                button {
                    .f-carousel__dot {
                        background: $red;
                    }
                }
            }
        }
    }
}
