.main {
    &#about {
        #content {
            #about-container {
                #main-content {
                    margin-top: 35%;
                    padding-bottom: 15%;

                    h1 {
                        font-size:  2.875rem;
                    }
                }
            }

            .canvas {
                .background-media {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    height: auto !important;
                    min-width: 100%;
                }
            }
        }
    }
}
