/** About page */
.main {
    &#about {
        #content {
            #about-container {
                #main-content {
                    margin-top: 35%;
                    margin-left: 5%;
                    padding-bottom: 5rem;
                    padding-right: 10%;

                    h1 {
                        font-size:  3rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.5rem;
                        line-height: 1.25;
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }
}
