/** Contact page */
.main {
    &#contact {
        padding: 0 2rem;

        #wrapper {
            align-content: center;
            align-items: center;
            height: 100vh;

            /** If logged in, fix height */
            .logged-in & {
                height: calc(100vh - 32px);

                @include media-breakpoint-down(wpmd) {
                    height: calc(100vh - 46px);
                }
            }

            #content {
                display: flex;
                flex-flow: column wrap;
                align-content: center;
                text-transform: uppercase;

                h1,h2 {
                    font-family: $sf_pro_text;
                    font-size: 3rem;
                    line-height: 1;
                    font-weight: 700;
                    color: $red;
                    margin-bottom: 0;
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }
    }
}
