/** Header container */
#app {
    #header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3.125rem 0 0 3.125rem;
        width: 15%;
        z-index: 9999;

        /** Main logo */
        .brand {
            font-family: $american_captain;
            font-size: 4.5rem;
            line-height: 1;
            color: $white;
            text-decoration: none;
        }

        /** Main navigation */
        #main-navigation {
            font-family: $sf_pro_text;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.2;
            color: $white;
            margin-top: 0.25rem;
            margin-bottom: 1rem;

            .nav {
                flex-direction: column;

                .menu-item {
                    a {
                        color: $white;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover,
                        &:active {
                            text-decoration: line-through;
                        }
                    }

                    &.current-menu-item {
                        a {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        /** Bottom navigation */
        #bottom-navigation {
            font-family: $sf_pro_text;
            font-weight: 400;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 1rem;

            .credits {
                font-size: 1.125rem;

                a {
                    color: $white;
                    text-decoration: none;
                    
                    &:hover,
                    &:active {
                        text-decoration: line-through;
                    }
                }
            }

            .socials {
                .social-list {
                    .social {
                        display: inline;
                        margin-right: 0.25rem;

                        a {
                            color: $white;

                            svg {
                                max-width: 1.5rem;
                            }
                        }

                        &.instagram {
                            a {
                                &:hover {
                                    color: $instagram;
                                }
                            }
                        }

                        &.facebook {
                            a {
                                &:hover {
                                    color: $facebook;
                                }
                            }
                        }

                        &.twitter {
                            a {
                                &:hover {
                                    color: $twitter;
                                }
                            }
                        }

                        &.youtube {
                            a {
                                &:hover {
                                    color: $youtube;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
