/** Header container */
#app {
    #header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3.125rem 0 0 3.125rem;
        width: 15%;
        z-index: 1000;

        @include media-breakpoint-down(xl) {
            width: 100%;
            padding: 3.125rem 3.125rem 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 1rem 1rem 0;
        }

        /** Main logo */
        .brand {
            font-family: $american_captain;
            font-size: 4.5rem;
            line-height: 1;
            color: $white;
            text-decoration: none;
            opacity: 0;
            transform: translateY(50px);

            @include media-breakpoint-down(xxl) {
                font-size: 3.75rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.75rem;
            }
        }

        /** Main navigation */
        #main-navigation {
            font-family: $sf_pro_text;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.2;
            color: $white;
            margin-top: 0.25rem;
            margin-bottom: 1rem;

            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }

            .nav {
                flex-direction: column;

                .menu-item {
                    opacity: 0;
                    transform: translateY(50px);

                    a {
                        color: $white;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover,
                        &:active {
                            text-decoration: line-through;
                        }
                    }

                    &.current-menu-item {
                        a {
                            text-decoration: line-through;
                        }

                        &.new-window {
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        /** Bottom navigation */
        #bottom-navigation {
            font-family: $sf_pro_text;
            font-weight: 400;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 2rem;

            .credits {
                font-size: 1.125rem;
                opacity: 0;
                transform: translateY(50px);

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    
                    &:hover,
                    &:active {
                        text-decoration: line-through;
                    }
                }
            }

            .socials {
                .social-list {
                    .social {
                        display: inline;
                        margin-right: 0.25rem;
                        opacity: 0;
                        transform: translateY(50px);

                        a {
                            color: $white;

                            svg {
                                max-width: 1.5rem;
                            }
                        }

                        &.instagram {
                            a {
                                &:hover {
                                    color: $instagram;
                                }
                            }
                        }

                        &.facebook {
                            a {
                                &:hover {
                                    color: $facebook;
                                }
                            }
                        }

                        &.twitter {
                            a {
                                &:hover {
                                    color: $twitter;
                                }
                            }
                        }

                        &.youtube {
                            a {
                                &:hover {
                                    color: $youtube;
                                }
                            }
                        }
                    }
                }
            }
        }

        /** Music player */
        #music-player {
            display: flex;
            align-items: flex-end;
            font-family: $sf_pro_text;
            text-transform: uppercase;
            font-size: 1.125rem;
            color: $white;
            opacity: 0;
            transform: translateY(50px);

            @include media-breakpoint-down(xl) {
                position: fixed;
                bottom: 3.125rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }

            .plyr__controls {
                line-height: 0.9;
                cursor: pointer;
            }

            .equalizer {
                display: inline-block;
                width: 1.25rem;
                margin-right: 0.25rem;
                line-height: 0.9;

                .bars {
                    display: inline-block;
                    width: 1.25rem;
                    height: 1.125rem;
                    
                    --c: linear-gradient(currentcolor 0 0);

                    background: var(--c) 0% 100%,
                                var(--c) 50% 100%,
                                var(--c) 100% 100%;
                    background-size: 0.25rem 100%;
                    background-repeat: no-repeat;
                }

                &.play {
                    .bars {
                        animation: bars 1s infinite linear;
                    }
                }

                &.stop {
                    .bars {
                        animation: none;
                        background-size: 0.25rem 25%;
                    }
                }
            }

            .song-name {
                display: inline-block;
                line-height: 1;
            }
        }

        /** Nav toggler */
        .navbar-toggler {
            border: 3px solid $white;
            border-radius: 3rem;
            padding: 1.5rem 1.125rem;
            display: flex;
            flex-direction: column;
            position: relative;
            opacity: 0;
            transform: translateY(50px);

            &:focus {
                box-shadow: none;
            }

            .icon-bar {
                display: inline-block;
                border: 2px solid $red;
                width: 2rem;
                margin-bottom: 0.25rem;

                &:last-child {
                    margin-bottom: 0;
                }

                &.top-bar {
                    margin-top: 0;
                    transform: translate(0, 0.5rem) rotate(45deg);
                    z-index: 2;
                    transition: all 0.2s ease-in-out;
                }

                &.mid-bar {
                    transform: translateX(0);
                    z-index: 1;
                    border-color: $black;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                }

                &.bot-bar {
                    transform: translate(0, -0.5rem) rotate(-45deg);
                    z-index: 2;
                    transition: all 0.2s ease-in-out;
                }
            }

            &.collapsed {
                .icon-bar {
                    &.top-bar {
                        transform: rotate(0);
                        transition: all 0.2s ease-in-out;
                    }

                    &.mid-bar {
                        transform: translateX(0);
                        border-color: $red;
                        opacity: 1;
                        transition: all 0.2s ease-in-out;
                    }

                    &.bot-bar {
                        transform: rotate(0);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }

        /** Mobile menu */
        #mobile-menu {
            .navbar {
                z-index: 50;
            }

            #panel-navbar-collapse {
                position: fixed;
                top: 0;
                left: 0;
                background-color: $black;
                width: 100%;
                height: 100%;
                display: flex;
                visibility: hidden;
                opacity: 0;
                z-index: 25;
                transition: all 0.4s ease-in-out;

                &.show {
                    display: flex;
                    min-height: 100vh;
                    visibility: visible;
                    opacity: 1;
                    z-index: 25;
                    transition: all 0.4s ease-in-out;
                }

                #main-navigation {
                    font-size: 3rem;

                    @include media-breakpoint-down(lg) {
                        font-size: 2.5rem;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 1.5rem;
                    }
                }

                #bottom-navigation {
                    .credits {
                        font-size: 2rem;

                        @include media-breakpoint-down(lg) {
                            font-size: 1.5rem;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 1rem;
                        }
                    }

                    .socials {
                        .social-list {
                            .social {
                                a {
                                    svg {
                                        max-width: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.shop-nav {
            .brand {
                opacity: 1;
                transform: translate(0);
            }

            #main-navigation {
                .nav {
                    .menu-item {
                        opacity: 1;
                        transform: translate(0);
                    }
                }
            }

            #bottom-navigation {
                .credits {
                    opacity: 1;
                    transform: translate(0);
                }

                .socials {
                    .social-list {
                        .social {
                            opacity: 1;
                            transform: translate(0);
                        }
                    }
                }
            }
        }
    }

    /** Screen reader */
    .sr-only {
        color: $white;
    }
}

/** Bars animation */
@keyframes bars {
    20% {
        background-size: 0.25rem 60%, 0.25rem 100%, 0.25rem 100%;
    }

    40% {
        background-size: 0.25rem 80%, 0.25rem 60%, 0.25rem 100%;
    }

    60% {
        background-size: 0.25rem 100%, 0.25rem 80%, 0.25rem 60%;
    }

    80% {
        background-size: 0.25rem 100%, 0.25rem 100%, 0.25rem 80%;
    }
}
